*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    margin: 0;
}

/*Menu*/
table{
    color: #000000;
    text-align: center;
    margin: 0;
    font-size: larger;
}

tr{
    height: 50px;
}

td{
    width: 150px;  
}

a:-webkit-any-link{
    text-decoration: none;
    color: inherit;
}

td:hover{
    background-color: #7cb490;    
    color: #ffffff;
    border-radius: 5px;
}

/*Cabecalho*/
.container_cabecalho{
    display: flex;
    flex-direction: row ;
    background-color: #fff2af;
}

.divLogo, .divMenu, .divLogin{    
    width: 10px;
    padding: 10px;
}

.divLogo{
    flex: 1;
    width: 100px;
    height: 50px;  
}

.divMenu{
    display: flex;
    justify-content: center;    
    flex:5;   
}

.divLogin{
    flex: 1;       
}

/*Paginas*/

/*Rodapé*/
.container_rodape{
    background-color:#fff2af;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.tituloRodape{
    color: #000000;
    text-align: center;
}


