*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0;
    margin: 0;
}

/*Menu*/
table{
    color: #000000;
    text-align: center;
    margin: 0;
    font-size: larger;
}

tr{
    height: 100px;
}

td{
    width: 150px;
    font-size: x-large;  
}

a:-webkit-any-link{
    text-decoration: none;
    color: inherit;
}

td:hover{
    background-color: #7cb490;    
    color: #ffffff;
    border-radius: 10px;
}

/*Cabecalho*/
.container_cabecalho{
    display: flex;
    flex-direction: row ;
    background-color: #fff2af;
}

.divlogo, .divMenu, .divLogin, .divcaminho{    
    margin: 5px;
    padding: 5px;
}

.divLogo{
    flex: 1;
    width:200px;
    height: 100px;
    justify-content: center;
}

.logo{ 
    margin: 5px 5px 20px 20px;
    width: 180px;
    height: 100px;  
}

.divMenu{
    flex: 5;
    align-items: center;
    justify-content: center;    
    flex:5;   
}

.divLogin{
    flex: 1;      
}

.divcaminho{    
    display: flex;
    justify-content: center;    
    flex:5;
    background-color: #7cb490;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
}

/*Paginas*/

/*Rodapé*/
.container_rodape{
    background-color:#fff2af;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.tituloRodape{
    color: #000000;
    text-align: center;
}


